@{ Layout = null; }
<footer class="border-top footer text-muted">
    <div class="container">
        @(ViewBag.ProjectName ?? "ASP Application")
        @(ViewBag.Version ?? "v0.1")
        &copy;
        @(ViewBag.Year ?? DateTime.Now.Year)
        @(ViewBag.Author ?? "João Vitor Paulino")

        <a href="@Url.Action("Privacy", "Home")">Privacy</a>
    </div>
</footer>